[submodule "app/boiler"]
	path = app/boiler
	url = https://github.com/cool-soft/boiler.git
[submodule "app/BoilerControlAppTests"]
	path = app/BoilerControlAppTests
	url = https://github.com/cool-soft/BoilerControlAppTests.git
