[submodule "tests"]
	path = tests
	url = https://github.com/user11336/BoilerControlAppTests.git
[submodule "heating_system"]
	path = heating_system
	url = https://github.com/user11336/heating_system.git
