[submodule "tests"]
	path = tests
	url = https://github.com/user11336/BoilerControlAppTests.git
[submodule "weather_data"]
	path = weather_data
	url = https://github.com/user11336/boiler_weater_info.git
[submodule "parsing_utils"]
	path = parsing_utils
	url = https://github.com/user11336/boiler_parsing_utils.git
[submodule "constants"]
	path = constants
	url = https://github.com/user11336/boiler_constants.git
