-e git+https://github.com/cool-soft/updater.git#egg=updater
-e git+https://github.com/cool-soft/boiler.git#egg=boiler
-e git+https://github.com/cool-soft/dynamic-settings.git#egg=dynamic-settings
aiohttp==3.7.4.post0
aiorwlock==1.0.0
aiosqlite==0.17.0
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dependency-injector==4.32.0
fastapi==0.63.0
h11==0.12.0
idna==2.10
multidict==5.1.0
numpy==1.20.2
pandas==1.2.4
pydantic==1.8.1
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
six==1.15.0
starlette==0.13.6
sqlalchemy==1.4.10
typing-extensions==3.7.4.3
urllib3==1.26.4
uvicorn==0.13.4
yarl==1.6.3
